.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}
.ouvrir
{

	font-size: 16px;
	line-height: 23px;
	height: 53px;
	background-color: white;
	color: green;
	text-align: center;
	border: 1px solid green;
	border-radius: 25px;
}