.lmj-layout-inner {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 900px) 
{
	.lmj-layout-inner {
	display: flex;
	flex-direction: column;
}


}
BODY
{
	background-image:url ("plant.jpg");
}